Package: com.bitandabit.closereply
Name: CloseReply
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Just a simple tweak to close quick reply after message sent!
Maintainer: bitandabit
Author: bitandabit
Section: Tweaks
Version: 0.0.1-8+debug
Installed-Size: 120
