Package: com.bitandabit.closereply
Name: CloseReply
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bitandabit
Author: bitandabit
Section: Tweaks
Version: 0.0.1-7+debug
Installed-Size: 120
